a:hover {
  color: aqua;
}

.menu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 2079px;
  z-index: 71;
}
.lifestyle_menu {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  position: absolute;
  left: 284.732px;
  top: 99.25px;
  width: 71px;
  height: 11px;
  z-index: 70;
  text-decoration: none;
}
.photodiary_menu {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  position: absolute;
  left: 486.435px;
  top: 99.25px;
  width: 88px;
  height: 11px;
  z-index: 69;
  text-decoration: none;
}
.music_menu {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  position: absolute;
  left: 657.538px;
  top: 99.25px;
  width: 43px;
  height: 11px;
  z-index: 68;
  text-decoration: none;
}
.travel_menu {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  position: absolute;
  left: 799.009px;
  top: 99.25px;
  width: 52px;
  height: 11px;
  z-index: 67;
  text-decoration: none;
}

a:hover {
  color: aqua;
}
ul li {
  display: inline-block;
}

.left_post {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 2079px;
  z-index: 64;
}

.Rettangolo_4 {
  background-color: rgb(242, 242, 242);
  position: absolute;
  left: 150px;
  top: 191px;
  width: 420px;
  height: 280px;
  z-index: 61;
}
.Lifestyle {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  left: 149.937px;
  top: 501.25px;
  width: 63px;
  height: 11px;
  z-index: 59;
}
.More_than_just_a_music_festival {
  font-size: 30px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.2;
  position: absolute;
  left: 148.844px;
  top: 538.828px;
  width: 407px;
  height: 30px;
  z-index: 58;
}
.leftp1 {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  position: absolute;
  left: 149.988px;
  top: 628.25px;
  width: 414px;
  height: 63px;
  z-index: 57;
}

.right_post {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 2079px;
  z-index: 55;
}

.Rettangolo_4_copia {
  background-color: rgb(242, 242, 242);
  position: absolute;
  left: 630px;
  top: 191px;
  width: 419px;
  height: 280px;
  z-index: 52;
}
.lifestyle2 {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  left: 628.937px;
  top: 501.25px;
  width: 63px;
  height: 11px;
  z-index: 50;
}
.Life_tastes_better_with_coffee {
  font-size: 30px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.2;
  position: absolute;
  left: 627.844px;
  top: 538.828px;
  width: 377px;
  height: 25px;
  z-index: 49;
}
.rightp1 {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  position: absolute;
  left: 628.988px;
  top: 628.25px;
  width: 414px;
  height: 63px;
  z-index: 48;
}

.left_post {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 2079px;
  z-index: 44;
}

.Rettangolo_4_copia_2 {
  background-color: rgb(242, 242, 242);
  position: absolute;
  left: 150px;
  top: 801px;
  width: 420px;
  height: 280px;
  z-index: 41;
}
.photodiaryl2 {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  left: 149.937px;
  top: 1111.25px;
  width: 85px;
  height: 11px;
  z-index: 39;
}
.American_dream {
  font-size: 30px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.2;
  position: absolute;
  left: 147.938px;
  top: 1148.828px;
  width: 226px;
  height: 25px;
  z-index: 38;
}
.leftp2 {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  position: absolute;
  left: 149.988px;
  top: 1238.25px;
  width: 414px;
  height: 63px;
  z-index: 37;
}

.right_post {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 2079px;
  z-index: 35;
}

.Rettangolo_4_copia_3 {
  background-color: rgb(242, 242, 242);
  position: absolute;
  left: 630px;
  top: 801px;
  width: 419px;
  height: 280px;
  z-index: 32;
}
.photodiaryr2 {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  left: 628.937px;
  top: 1111.25px;
  width: 85px;
  height: 11px;
  z-index: 30;
}
.A_day_exploring_the_Alps {
  font-size: 30px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.2;
  position: absolute;
  left: 626.938px;
  top: 1148.828px;
  width: 324px;
  height: 30px;
  z-index: 29;
}
.rightp2 {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  position: absolute;
  left: 628.988px;
  top: 1238.25px;
  width: 414px;
  height: 63px;
  z-index: 28;
}

.left_post {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 2079px;
  z-index: 24;
}

.Rettangolo_4_copia_4 {
  background-color: rgb(242, 242, 242);
  position: absolute;
  left: 149px;
  top: 1417px;
  width: 420px;
  height: 280px;
  z-index: 21;
}
.lifestylel3 {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  left: 148.937px;
  top: 1727.25px;
  width: 63px;
  height: 11px;
  z-index: 19;
}
.Top_10_song_for_running {
  font-size: 30px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.2;
  position: absolute;
  left: 148.964px;
  top: 1764.823px;
  width: 321px;
  height: 30px;
  z-index: 18;
}
.leftp3 {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  position: absolute;
  left: 148.988px;
  top: 1854.25px;
  width: 414px;
  height: 63px;
  z-index: 17;
}
.right_post {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 2079px;
  z-index: 15;
}

.Rettangolo_4_copia_5 {
  background-color: rgb(242, 242, 242);
  position: absolute;
  left: 629px;
  top: 1417px;
  width: 419px;
  height: 280px;
  z-index: 12;
}
.lifestyler3 {
  font-size: 14px;
  font-family: "Ubuntu";
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  position: absolute;
  left: 627.937px;
  top: 1727.25px;
  width: 63px;
  height: 11px;
  z-index: 10;
}
.Cold_winter_days {
  font-size: 30px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.2;
  position: absolute;
  left: 627.88px;
  top: 1764.828px;
  width: 224px;
  height: 30px;
  z-index: 9;
}
.rightp3 {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  position: absolute;
  left: 627.988px;
  top: 1854.25px;
  width: 414px;
  height: 63px;
  z-index: 8;
}

.load_more_button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 2079px;
  z-index: 5;
}
.load_more_button {
  font-size: 20px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  line-height: 1.2;
  position: absolute;
  left: 539.87px;
  top: 1966.5px;
  z-index: 4;
}
.load_more_button {
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  position: absolute;
  left: 507px;
  top: 2032px;
  width: 162px;
  height: 58px;
  z-index: 3;
}
