@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu&display=swap");

.container {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}
.menu {
  margin: 78px 113px;
  padding: 0px;
}
.menu-item {
  margin-right: 108px;
  display: inline-block;
}
.menu-item:last-child {
  margin-right: 0px;
}
.link {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: #626262;
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  width: 88px;
  height: 11px;

  text-decoration: none;
}
.link:hover {
  color: #03a9f4;
}

.picture {
  background-color: #f2f2f2;
  margin-bottom: 32px;
  width: 420px;
  height: 280px;
}
.subtitle {
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: #b4ad9e;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0px 0px 37px 0px;
  width: 63px;
  height: 11px;
}
.caption {
  font-size: 30px;
  font-family: "PlayfairDisplay", serif;
  color: #626262;
  line-height: 1.2;
  margin: 0px 0px 44px 0px;
  width: 407px;
  height: 30px;
}
.paragraph {
  font-size: 14px;
  font-family: "PlayfairDisplay", sans-serif;
  color: #626262;
  line-height: 1.714;
  text-align: left;
  margin: 0px;
  width: 414px;
  height: 63px;
}

.section {
  display: inline-block;
}
.section:nth-last-child(odd) {
  width: 420px;
  margin: 0px 56px 135px 0px;
}
.section:nth-child(n + 4) {
  margin-bottom: 0px;
}

.load-more-button {
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  width: 164px;
  height: 60px;
  background-color: white;
  border: 1px solid #626262;
  margin: 56px auto;
  display: block;
}
