@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu&display=swap");
section {
  display: inline-block;
}
.container {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}
.menu {
  height: 12px;
  width: 680px;
  margin: 78px 113px;
}
.menu li {
  display: inline-block;
}
.par {
  margin-right: 108px;
}
.par:last-child {
  margin-right: 0px;
}
a {
  font-size: 14px;
  font-family: "PlayfairDisplay";
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  width: 88px;
  height: 11px;

  text-decoration: none;
}
a:hover {
  color: #03a9f4;
}

/*MAIN*/

img {
  background-color: rgb(242, 242, 242);
  margin-bottom: 18px;
  width: 420px;
  height: 280px;
}
.subtitle {
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 12px;
  width: 63px;
  height: 11px;
}
.caption {
  font-size: 30px;
  font-family: "PlayfairDisplay", serif;
  color: rgb(98, 98, 98);
  line-height: 1.2;
  margin-bottom: 44px;
  width: 407px;
  height: 30px;
}
.paragraph {
  font-size: 14px;
  font-family: "PlayfairDisplay", sans-serif;
  color: rgb(98, 98, 98);
  line-height: 1.714;
  text-align: left;
  margin: 0px;
  width: 414px;
  height: 63px;
}


.part:nth-last-child(odd) {
  width: 420px;
  margin: 0px 56px 135px 0px;
}

.part:nth-child(n+4){
  margin-bottom: 0px;
}


 .load_more_button {
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  width: 164px;
  height: 60px;
  background-color: white;
  border: 1px solid #626262;
  margin: 56px auto;
  display: block;
} 
